{% extends 'portal/portal' %}
{% block appStylos %}
  <link rel="stylesheet" href="views/app/template/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block appBody %}


<!-- Default box -->


  <div class="tab-content">
    <div class="tab-pane active" id="tab_1-1">

      <!----------------------------------------------------------------------------------------------------------------------------------------->

        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-body" id="camdat" name="camdat">
            <table id="dataTables4" class="table table-bordered" >
              <br>
              <thead>
                <tr>
                  <th></th>
                  <th>Rut</th>
                  <th>Servicio</th>
                  <th>Fecha</th>
                  <th>Hora Ingreso</th>
                  <th>Hora Salida</th>
                  <th>Horas Turno</th>
                  <th>Hora Colacion</th>
                  <th>Horario Colacion</th>
                  <th>HR Break 1</th>
                  <th>HR Break 2</th>
                  <th>Modificar</th>
                </tr>
              </thead>
              <tbody id="turnos">

              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  



{% endblock %}
{% block appScript %}

    <script src="views/app/template/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="views/app/template/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

    <script src="views/app/js/rrhh/turnos.js"></script>
    <script>
        $("#dataTables4").dataTable({
             "language": {
                 "search": "Buscar:",
                 "zeroRecords": "No hay datos para mostrar",
                 "info":"Mostrando _END_ usuarios, de un total de _TOTAL_ ",
                 "loadingRecords": "Cargando...",
                 "processing":"Procesando...",
                 "infoEmpty":"No hay entradas para mostrar",
                 "lengthMenu": "Mostrar _MENU_ Filas",
                 "paginate":{
                 "first":"Primera",
                 "last":"Ultima",
                 "next":"Siguiente",
                 "previous":"Anterior",
                 }
                           },
             "autoWidth": true
         });
    </script>
{% endblock %}
